img {
    margin-top: 10px;
    width: 270px;
    height: 26px;
}

#frame {
    width: 700px;
    margin: 0 auto;
    text-align: left;
}

#graphic {
    width: 700px;
    border-top: 1px solid lightgrey;
    margin: 12px auto;

}

#title {
    font: 30px helvetica;
}

#chart-title{
    font: 24px helvetica;
    margin: 16px 0 0 0;
}

#chart-desc {
    font: 12px helvetica;
    margin-top: 8px;
    margin-bottom: 0;
}

p {
    font: 12px helvetica;
}

.button-row-wrapper{
    position: relative;
    font-family: helvetica;
}

#button-row {
    position: relative;
    height: 28px;
    margin: 8px 0 0;
    padding: 8px 0 0;
}

.stepButton{
    height: 25px;
    width: 60px;
    padding: 0 7px;
    background-color: steelblue;
    color: white;
    outline: none;
    border: 1px solid steelblue;
    border-radius: 2px;
    box-shadow: 0 2px 2px transparent;
}

.stepButton:hover{
    background-color: steelblue;
    opacity: 0.9;
    border: none;
    color: white;
}

.stepButton-prev {
    margin-right: 4px;
}

.stepButton-disabled {
    background-color: lightgrey;
    color: white;
    border: 1px solid lightgrey;
}

.stepButton-disabled:hover {
    background-color: lightgrey;
    color: white;
    border: 1px solid lightgrey;
}


.bar {
    fill: steelblue;
}

.bar:hover {
    fill: rgb(242,124,33);
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
}

.axis text {
    font: 10px sans-serif;
}

.d3-tip {
  line-height: 1;
  font: 12px helvetica;
  padding: 12px;
  background: lightgrey;
  color: black;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: lightgrey;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}