.frame {
    width: 960px;
    height: 502px;
    margin: 0 auto;
}

#article-headline {
    font: 24px georgia;
}

#article-description {
    font: 12px arial;
}

.main-content {
    border-top: 1px solid lightgrey;
    margin: 12px auto;
}

#button-row-wrapper {
    margin-top: 12px;
    font-size: 0px;
}

.button-row-top {
    margin-bottom: 4px;
}

.button-top-active,
.button-bottom-active {
    background-color: #EEEEEE;
}

button {
    font-family: arial;
    font-size: 12px;
    height: 25px;
    padding: 0 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    outline: none;
    border: 1px solid #CCCCCC;
    border-right-width: 0px;
    box-shadow: 0 2px 2px transparent;

}

button:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

button:last-of-type {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

button:hover {
    border-color: #AAAAAA;
    box-shadow: 0 2px 2px #DDDDDD;
}

#button-row-bottom-wrapper {
    background-color: black;
}

#button-row-bottom-mask {
    position: absolute;
    background-color: white;
    width: 960px;
    height: 25px;
    z-index: 1;
}

.button-row-bottom-active {
    z-index: 2 !important;
}

#button-row-bottom-advertising,
#button-row-bottom-posdisplay,
#button-row-bottom-packaging,
#button-row-bottom-smokingbans,
#button-row-bottom-ecig {
    position: absolute;
    z-index: -1;
}



.interactive-content {
    display: inline-flex;
    margin-top: 28px;
}

#asia-map {
    width: 720px;
    height: 400px;
    margin-right: 4px;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}

#overview-wrapper {
    width: 220px;
    height: 388px;
    border: 1px solid #CCCCCC;
    padding-top: 12px;
    padding-left: 7px;
}

#overview-wrapper-mask {
    position: absolute;
    background-color: white;
    width: 210px;
    height: 360px;
    z-index: 3;
}

#overview-country-name {
    font: 20px georgia;
}

#overview-toughness-score {
    font: 12px arial;
    color: #595959;
}

#toughness-score {
    font: 36px arial;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
}

.overview-topic-row {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.overview-topic-bullet {
    height: 28px;
    width: 30px;
    float: left;
    margin-right: 4px;
    background-color: black;
}

#overview-block-mask {
    position: absolute;
    background-color: white;
    width: 210px;
    height: 240px;
    z-index: 1;
}

.overview-block-active {
    color: black !important;
    z-index: 2 !important;
}

#overview-block-advertising,
#overview-block-posdisplay,
#overview-block-packaging,
#overview-block-smokingbans,
#overview-block-ecig {
    position: absolute;
    color: white;
    z-index: -1;
}

.overview-info {
    float: left;
    width: 165px;
    font-size: 12px;
    font-family: Arial;
    line-height: 12px;
    padding-top: 7px;
}

.overview-topic {
    font-weight: bold;
    display: inline;
}

.overview-topic-desc {
    display: inline;
}

.footer {
    font: 10px arial;
    font-style: italic;
    line-height: 0;
    text-align: left;
    margin-left: 2px;
}

.country {
    fill: white;
    stroke: #898989;
    stroke-width: 0.7;
    fill-opacity: 1;
}


.selected-country {
    stroke-width: 1.2;
    stroke: black;
}

#Brunei,
#Timor-Leste,
#Papua-New-Guinea,
#Solomon-Islands {
    fill: white !important;
}